@font-face {
    font-family: 'Roboto'; 
    src: url(./assets/fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'Roboto-Bold'; 
    src: url(./assets/fonts/Roboto-Bold.ttf);
}


body {

}

/*Header*/

div.header {
    height: 95px;
    position: fixed;
    width: 1600px;
    background-color: #000000;
    font-family: Roboto, Arial, sans-serif;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    font-size: 14px;

}


div.header ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
    padding-right: 7px;
    padding-bottom: 165px;
}

div.header ul li {
    padding-right: 47px;
    padding-left: 47px;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}

li:first-child {
    text-decoration: underline
}

div.header h1 {
    display: none;
}

/*Your Life*/

div.your-life {
    width: 1600px;
    background-image: url(./assets/images/bg-image-wrapper.png);
    font-family: Roboto, Arial, sans-serif;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    padding-top: 235px;
    padding-left: 0px;
}

div.your-life p:first-child {
    font-size: 64px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 5px;
    padding-bottom: 26px;
}

div.your-life p:nth-child(2) {
    font-size: 18px;
    text-align: center;
    width: 480px;
    margin: 0 auto;
    word-spacing: 5px;
    line-height: 140%;
    padding-bottom: 30px;
}

div.your-life button {
    width: 184px;
    height: 46px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    background-color: #00AFDB;
    margin: 0 auto;
}

div.your-life div.pics {
    display: flex;
    justify-content: center;
    padding-top: 183px;
    padding-bottom: 89px;
}

div.your-life div.pics img {
    padding-left: 15px;
    padding-right: 15px;
}

/*Rappresent*/

div.rappresent {
    width: 1600px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 842px;
    margin-left: -33px;
    margin-top: -10px;
    margin-bottom: 50px;
}

div.rappresent div:first-child {
    width: 407px;
    padding-left: 107px;
}

div.rappresent p:first-child {
    font-family: Roboto-bold, Arial, sans-serif;
    font-size: 24px;
    text-transform: uppercase;
}

div.rappresent p strong {
    font-weight: bold;
}

div.rappresent p:nth-child(2) {
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
    line-height: 140%;
    padding-top: 30px;
    padding-bottom: 30px;
}

div.rappresent button {
    width: 184px;
    height: 46px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    background-color: #00AFDB;
    margin: 0 auto;
}

div.rappresent div:nth-child(2) {
    margin-left: -260px;
}

/*community*/

div.community {
    width: 1600px;
    height: 504px;
    background-color: #F5F6F7;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-top: -40px;
}

div.community div:first-child {
    width: 298px;
    justify-content: center;
    text-align: center;
    padding-right: 120px;
    padding-top: 20px;
}

div.community div img {
    padding-bottom: 30px;
}

p.arrow a {
    text-decoration: none;
    color: black;
}

div.community div p:nth-child(2) {
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;

}

div.community div p:nth-child(3) {
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
    line-height: 140%;
}

div.community div.slider-symbols {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: Roboto, Arial, sans-serif;
    font-size: 18px;
    padding-left: 450px;
    padding-top: 20px;
    padding-bottom: 20px;
}

div.community div.slider-symbols p {
    padding-left: 10px;
}

div.community-pic {

}

div.community-pic img {
    padding-left: 25px;
}

/*implement*/

div.implement {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 842px;
}

div.implement img {
    padding-right: 125px;
}

div.implement div{
    width: 407px;
    padding-left: 40px;
}

div.implement div p:first-child {
    font-family: Roboto-bold, Arial, sans-serif;
    font-size: 24px;
    text-transform: uppercase;
}

div.implement div p strong {
    font-weight: bold;
}

div.implement div p:nth-child(2) {
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
    line-height: 140%;
    padding-top: 30px;
    padding-bottom: 30px;
}

div.implement button {
    width: 184px;
    height: 46px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    background-color: #00AFDB;
    margin: 0 auto;
}


/*sign-up*/

div.sign-up {
    height: 524px;
    background-image: url(./assets/images/pexels-christina-morillo-1181675\ 1.png);
    display: flex;
    justify-content: center;
    text-align: center;
    width: 1600px;
}

div.sign-up form {
    width: 456px;
    padding-top: 200px;

}

div.sign-up form p {
    font-family: Roboto, Arial, sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: #FFFFFF;
    text-transform: uppercase;
    padding-left: 48px;
    letter-spacing: 0.25px;
    padding-bottom: 32px;
}

div.sign-up form input {
    margin-left: 10px;
    height: 46px;
    padding-left: 20px;
}

div.sign-up form button {
    margin-left: -5px;
    margin-top: 7px;
    height: 52px;
    width: 66px;
    color: #FFFFFF;
    background-color: #00AFDB;
}

